nav>ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 100px;
    padding: 0px,30px;
    
}
nav li:hover{
    background-color: aqua;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 30px;

}
    nav>ul>li:hover>ul{
        display: block;
        padding:0 ;
    }
    .dropdwon{
        display:none;
        position: absolute;
        background-color:bisque;
        margin: 0px;
    }
    .dropdwon li{
        padding: 0px,10px;
        margin: 0px 10px;

    }